name: Python package

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      UV_VERSION: "0.8.22"
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true
      - name: Install the dependencies
        run: uv sync --locked --all-extras --dev
      - name: check-format
        run: uv run ruff format --check
      - name: check-types
        run: uv run mypy
      - name: lint
        run: uv run ruff check --output-format github
      - name: Test with pytest
        run: uv run pytest --cov
